{% extends "base.html" %} {% block title %}Savings Goals{% endblock %} {% block content
%}
<h1 align="center">Savings Goals</h1>
    <br>
<table class="table table-hover table-bordered table-striped">
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
      <th style="width:5%">Edit/Delete</th>
    </tr>
  {% for savingsgoal in user.savingsgoals %}
  <tr>
    <td>{{ savingsgoal.savingsgoal_name }}</td>
    <td>${{ savingsgoal.savingsgoal_amount }}</td>
    <td>{{ savingsgoal.savingsgoal_date }}</td>
    <td>
      <button type="button" class="close" onClick="deleteSavingsGoal({{ savingsgoal.id }})">
      <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
      </button>
      <button type="button" class="close" onclick="editSavingsGoal({{ savingsgoal.id }})">
      <span aria-hidden="true"><i class="fas fa-edit fa-sm"></i></span>
      </button>
    </td>

  {% endfor %}
</table>
<form method="POST">
<!--  <h3 align="center">Expense List</h3>-->
  <div class="form-group">
    <label for="savingsgoalName">Savings Goal Name</label>
    <input
      type="text"
      class="form-control"
      id="savingsgoalName"
      name="savingsgoalName"
      placeholder="Enter Savings Goal Name"
    />
  </div>
  <div class="form-group">
    <label for="savingsgoalAmount">Savings Goal Amount</label>
    <input
      type="number" min="0.00"
      class="form-control"
      id="savingsgoalAmount"
      name="savingsgoalAmount"
      placeholder="Enter amount"
    />
  </div>

  <div class="form-group">
    <label for="savingsgoalDate">Savings Goal Date</label>
    <input
      type="date"
      class="form-control"
      id="savingsgoalDate"
      name="savingsgoalDate"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Savings Goal</button>
  </div>
</form>
    <br><br>
{% endblock %}